* {
    box-sizing: border-box;
}
.column {
        border: 2px solid black;
        padding: 5px;
        width:25%;
        float:left;
        background-color:crimson;
}


@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }

@media screen and (max-width: 560px) {
    .column {
      width: 100%;
    }
  }